body, input {
	font-family: "Segoe UI", Arial, sans-serif;
	counter-reset: section; /* h2 counter*/
}
h1,h2 {
/*	font-weight:normal; */
}
h2:before { 
	counter-increment: section;
	content: counter(section) ". ";
}
input {
    font-size: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 18px;
    cursor: pointer;
/*	vertical-align: top; */
}
span {
    border: 1px solid #aaaaaa;
    border-radius:4px;
}
a {
	margin-right: 10px;
}
input:focus {
    background-color: lightblue;
}
.antwort{
    width: 100%;
/*    height: 19px; */
    padding: 4px;
    border: 1px solid #aaaaaa;
    border-radius:6px;
	background-color: white;
	cursor: pointer;
}
div.antwort {
    position: absolute;
    width: 90px;
	min-height: 19px;
	padding: 0px; /* 2px */
}
.richtig {
	background-color: #88ff88;
}
.falsch {
	background-color: #ff8888;
}
.leer {
	background-color: #ffff00;
}
.waereRichtig{
	background-color: #ddffdd
}
.zeigen {
	background-color: lightblue;
}
.verdeckt {
	background-color: lightgray;
}
.uebungshinweis {
	font-weight:small;
}
/* input {margin-right:8px;margin-left:0px;} */
/*
#ergebnis {
    border: none;
    border-radius: none;
	background-color: white;
}
*/
.uebung {
    padding : 10px 10px 10px 0px;
	max-width: 800px;
	background-color: #f1f1f1; /* lightgray */
}
#uebung {
    padding : 10px 10px 10px 0px;
/*	font-size: larger; */
}
#aufgabentext span {
	line-height: 1.5;
}
#aufgabentext .d {
	text-decoration: line-through;
}
#auswahl span {
/*	padding-right:10px; */
	margin-right: 2px;
	margin-bottom: 1px;
	cursor: pointer;
}
#auswahl {
	position: -webkit-sticky; 
	position: sticky;
	top: 0;
	border: 1px solid green;
    border-radius:6px;
	padding: 5px;
	background-color: white;
    line-height: 1.5; 
}

.quelle {
/*	margin-top: 30px; */
	font-size: xx-small;	
}
#quiz{
	background-color: #f1f1f1; /* lightgray */
	padding: 8px;
}

#score {
	padding-left: 20px;
}

/* ------------------------------------------------------------------ */
/* Sprache */
#uebung {
    max-width: 800px;
	background-color: #f1f1f1; /* lightgray */
}

#uebung ol, ol li { 
	margin-left: 0;
	padding-left: 0; 
	line-height: 1.6;
}
#uebung ol { 
	margin-left: 1.3em;
}
/*
input {
    margin: 5px 0 0 0;
    border: 0px solid;
}
*/
/* wortart personalpronomen */
.wortart {
	font-size: larger;
	line-height: 1.6;
}
.wortart span {
		border:none;
}
.wortart .p, #auswahl .p {
	background-color: limegreen; /* orange; */
}
/* wortart verb */
.wortart .v, #auswahl .v {
	background-color: aqua;
}
/* wortart nomen */
.wortart .n, #auswahl .n {
	background-color: chocolate; /* brown; */
	text-transform:capitalize;
}
/* wortart adjektiv */
.wortart .a, #auswahl .a {
	background-color: yellow;
}
/* wortart streichen */
.wortart .d, #auswahl .d {
	background-color: yellow;
	text-decoration: line-through;
}

/* -- Math inside #t1 ----------------------------------------------- */
.math /* table */ { 
	border-collapse: collapse;
}
.math tr:nth-child(even) {
	background-color: #dddddd; /* #f2f2f2 */
}
.math td {
	text-align: right;
	padding: 8px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.math input {
	text-align: right;
	width: 60px;
	padding-right: 2px;
    border: 1px solid;
}
/* -- memory -------------------------------------------------------- */
#memory span, memory div, memory img {
	margin: 0;
	padding: 0;
}
#memory span {
	display:inline-block;
    border-radius:6px;
}
#memory img {
	vertical-align: bottom;
	border-radius: 6px;
	width: 100%; 
	height: 100%; 
}
/* -------------------------------- */
@media only screen and (max-width: 600px) {
	body { font-size: 16px; }
	h1 { font-size: 120%; }
	h2,h3 { font-size: 110%; }
	ol, ol li { margin-left: 0; padding-left: 0; }
	ol { margin-left: 1.3em; }
	button { padding: 4px 10px; }
	.uebung {
		padding: 0px;
	}
	.math td {
		padding-left: 4px;
		padding-right: 4px;
	}
	.math input {
		width: 50px;
	}
	p {
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
	}
}
/* -------------------------------- */
/* The Modal (background) ------------------------------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* 100px Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* -- geometrie -- */
.floatLeft {
    float: left;
    margin: 0;
    padding-right: 1em;
	padding-bottom: 1em;
}
.floatLeft ol {
    margin-top: 0;
}
/* -- fraction ------------------ */
.fraction {
    display: inline-block;
    vertical-align: middle; 
    text-align: center;
}
.fraction > span {
	border: none;
	border-radius: 0;
    display: block;
}
.fraction span.fup {
	border-bottom: thin solid black;
}
.fraction span.fdn {
	margin-top: -1px;
	padding-top: 0;
}
